{% extends 'base.html' %}

{% block title %}
    {{ details.name }}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ details.name }}</h1>
            <p>{{ details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if details.tasks.all|length != 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    {% for param in details.tasks.all %}
                        <tr>
                            <td>{{ param.name }}</td>
                            <td>{{ param.assignee }}</td>
                            <td>{{ param.start_date }}</td>
                            <td>{{ param.due_date }}</td>
                            <td>{{ param.is_complete|yesno }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
